

.bg-light {
  background-color: #2C3E50 !important; /* Warna background navbar */
}

.navbar-brand {
  color: white !important; /* Warna teks brand */
}

.navbar-toggler-icon {
  background-color: white !important; /* Warna ikon toggler */
}

.navbar-nav .nav-link {
  color: #BDC3C7 !important; /* Warna teks link navbar */
}

.navbar-nav .nav-link:hover {
  color: #ECF0F1 !important;
}

.form-control {
  background-color: #34495E !important; /* Warna background input search */
  color: #ECF0F1 !important;
  border: 1px solid #4A6572 !important;
}

.form-control::placeholder {
  color: #7F8C8D !important; /* Warna placeholder input search */
}

.btn-outline-success {
  color: #1ABC9C !important;
  border-color: #1ABC9C !important;
}

.btn-outline-success:hover {
  background-color: #1ABC9C !important;
  color: white !important;
}

.dropdown-menu {
  background-color: #34495E !important;
  border: 1px solid #4A6572 !important;
}

.dropdown-item {
  color: #BDC3C7 !important;
}

.dropdown-item:hover {
  background-color: #4A6572 !important;
  color: #ECF0F1 !important;
}
