<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow p-4" style="max-width: 400px; width: 100%">
    <h3 class="text-center mb-4">Set New Password</h3>
    <form #form="ngForm" (ngSubmit)="handleSetPassword(form)">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          [(ngModel)]="email"
          #emailRef="ngModel"
          [ngClass]="{
            'is-invalid': emailRef.invalid && (emailRef.touched || form.submitted)
          }"
          class="form-control"
        />
        <div class="invalid-feedback">Email tidak boleh kosong</div>
      </div>

      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          required
          [(ngModel)]="newPassword"
          #newPasswordRef="ngModel"
          [ngClass]="{
            'is-invalid': newPasswordRef.invalid && (newPasswordRef.touched || form.submitted)
          }"
          class="form-control"
        />
        <div class="invalid-feedback">Password tidak boleh kosong</div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
          [(ngModel)]="confirmPassword"
          #confirmPasswordRef="ngModel"
          [ngClass]="{
            'is-invalid': confirmPasswordRef.invalid && (confirmPasswordRef.touched || form.submitted)
          }"
          class="form-control"
        />
        <div class="invalid-feedback">Konfirmasi password tidak boleh kosong</div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Set Password</button>
    </form>
  </div>
</div>
