<div
  class="container d-flex justify-content-center align-items-center"
>
  <app-card>
    <div class="text-center mb-4">
      <h2 class="fw-bold">Change Password</h2>
      <p class="text-muted">Ubah kata sandi akun Anda</p>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <!-- Old Password Field -->
      <div class="mb-3">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input
          type="password"
          id="oldPassword"
          class="form-control"
          name="oldPassword"
          required
          [(ngModel)]="oldPassword"
          #oldPasswordRef="ngModel"
          [ngClass]="{
            'is-invalid':
              oldPasswordRef.invalid &&
              (oldPasswordRef.touched || form.submitted)
          }"
        />
        <div class="invalid-feedback">Please input your old password.</div>
      </div>

      <!-- New Password Field -->
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input
          type="password"
          id="newPassword"
          class="form-control"
          name="newPassword"
          required
          [(ngModel)]="newPassword"
          #newPasswordRef="ngModel"
          [ngClass]="{
            'is-invalid':
              newPasswordRef.invalid &&
              (newPasswordRef.touched || form.submitted)
          }"
        />
        <div class="invalid-feedback">Please input your new password.</div>
      </div>

      <!-- Confirm New Password Field -->
      <div class="mb-3">
        <label for="confirmPassword" class="form-label"
          >Confirm New Password</label
        >
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          name="confirmPassword"
          required
          [(ngModel)]="confirmPassword"
          #confirmPasswordRef="ngModel"
          [ngClass]="{
            'is-invalid':
              confirmPasswordRef.invalid &&
              (confirmPasswordRef.touched || form.submitted)
          }"
        />
        <div class="invalid-feedback">Please confirm your new password.</div>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="btn btn-primary w-100 d-flex align-items-center justify-content-center"
        [disabled]="isLoading"
      >
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          aria-hidden="true"
        ></span>
        <span *ngIf="!isLoading">Change Password</span>
      </button>
    </form>
  </app-card>
</div>
